[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flake8-import-order = "*"
mypy = "*"
autopep8 = "*"

[packages]
uvicorn = "*"
fastapi = "*"
python-json-logger = "*"
aiomysql = "*"

[requires]
python_version = "3.8"
